<div class="jumbotron">
  <h1>The coolest way to manager yours collaborative spaces.</h1>
  <p>Always needed a room and gave up because was so complicated to create a registration? Preferred to find another way to be together? SmartRooms is a simple way to manage and book our rooms collaborative.</p>

  <p><%= link_to "Sign up", signup_path, class: 'btn btn-primary btn-large' %></p>
  <p style="font-size: 10pt;">Rumble Judge? <%= link_to "Guest user!", users_path, method: :post %> </p>
</div>

<div class="row">
  <div class="span4">
    <h2>Easy</h2>
    <p>You can do it in seconds. Just enter the room and create a new reservation with only 3 fields, the relevant :). You can also do it with a few words if you prefer.</p>
  </div>
  <div class="span4">
    <h2>Fast</h2>
    <p>With the smart booking input is possible to book rooms as if he wrote on a notepad or an e-mail. The difference is that, once finished writing, the space is yours. Yay!</p>
  </div>
  <div class="span4">
    <h2>Rumble</h2>
    <p>This app was build for participate in Rumble competition, fell free to use the web app, please if you like share with yours friends on <%= twitter_url_for "http://cuut.pw/sr", "Check this out! Nice app! Build on %23railsRumble 2013" %>.</p>
  </div>
</div>
