<%- model_class = Reservation -%>
<span class="row">
  <h1>Smart Reservation<strong class='question'> tell me what you need?</strong></h1>
  <div class="span8 offset2">
    <div class="visual_search"></div>
  </div>
  <%= link_to "Search", search_path %>
</span>

<div id='result'></div>

