<div class="row">
  <aside class="span3">
    <section>
      <h3><%= @reservation.owner.name %></h3>
    </section>
    <section>
      <h4>
        <%= link_to 'Edit', edit_reservation_path(@reservation) %> |
        <%= link_to 'Destroy', @reservation, method: :delete, data: { confirm: 'Are you sure?' } %> |
        <%= link_to 'Back', :back %>
      </h4>
    </section>
  </aside>
  <aside class="span9">
    <h1>Infos</h1>
  </aside>
</div>

