// First import journal variables
@import "bootswatch/amelia/variables";

// Then bootstrap itself
@import "bootstrap";

// Responsive styles go here in case you want them
@import "bootstrap-responsive";

// And finally bootswatch style itself
@import "bootswatch/amelia/bootswatch";

@import "bootstrap-datetimepicker";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  text-align: center;
}

h2 {
  text-align: left;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

h1.heading{
  font-size: 3.6em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

/* header */

#logo {
  font-family: 'Lobster', cursive;
  float: left;
  margin-right: 10px;
  font-size: 3em;
  color: white;
  letter-spacing: 3px;
  padding-top: 5px;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.nav.pull-right li{
  font-size: 1.2em;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  small {
    float: right;
    margin-bottom: 15px;
  }
  ul {
    float: left;
    list-style: none;
    li {
      float: right;
      margin-right: 10px;
    }
  }
}

/* Jumbotron */

.jumbotron {
  padding: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #0d747c;
}

.jumbotron h1 {
  line-height: 1;
  color: inherit;
}

.jumbotron p {
  line-height: 1.4;
}

.container .jumbotron {
  border-radius: 6px;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .container .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
  }
  .jumbotron h1 {
    font-size: 63px;
  }
}

/* rows */

.table_row {
  cursor: pointer; cursor: hand;
}
